---
import Layout from '../layouts/Layout.astro';
import Triangle from '../components/Triangle.astro';

import { getLinks } from '../utils/storyblok.js';

let links = await getLinks('bailamos/');
links = Object.values(links);
---

<script>
    import { activateStoryblokBridge } from '../utils/storyblok';
    activateStoryblokBridge();
</script>

<Layout title='Bailamos'>
    <div class='grow relative overflow-hidden py-8 md:py-12'>
        <Triangle
            class='absolute inset-0 w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6 mt-4 sm:mt-0 ml-auto -z-10 text-rosa-50'
        />

        <ul class='container mx-auto px-4 lg:px-12 font-bold space-y-4'>
            {
                links.map((link: any) => (
                    <li>
                        <a
                            href={`/${link.slug}`}
                            class='block p-4 border border-rosa-100 text-rosa-300'
                        >
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>
