---
import TextBlock from '../components/TextBlock.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Reflexionamos'>
    <figure class='container mx-auto mb-8'>
        <div class='mx-auto md:mr-12 sm:w-3/4 md:w-3/5 lg:w-1/2'>
            <TextBlock>
                <blockquote class='font-serif-ital'>
                    <p>
                        "En el cuerpo humano, las células no trabajan solas, o
                        de manera aislada, sino en grupo de células similares
                        que conforman los tejidos de donde surgen los diferentes
                        órganos. Tenemos cuatro tipos de tejido en nuestro
                        cuerpo, y sus funciones son variadísimas, entre las
                        cuales se encuentra conectar, transportar, sostener,
                        proteger, almacenar, cubrir y comunicar. Así como es
                        adentro, es afuera. Estamos rodeados de tejidos con los
                        que cubrimos nuestros cuerpos, nuestras casas. Y es
                        ciertamente el territorio; un tejido, habitado,
                        recorrido, herido, cantado, olvidado y celebrado."
                    </p>
                </blockquote>
            </TextBlock>

            <figcaption class='px-4 py-1 text-right text-xs 2xl:text-sm'>
                —Lorena Cabnal, <br />
                <cite
                    >La Red de la Vida, en <a
                        href='https://www.radiosavia.com/'
                        class='font-bold text-rosa-300'>Radio Savia</a
                    >
                </cite>
            </figcaption>
        </div>
    </figure>
</Layout>
