---
import Icon from './Icon';
import Spotify from './Spotify';
---

<footer id='contacto' class='mt-auto bg-mora-700 text-white'>
    <div class='container mx-auto py-8 px-4 flex justify-between'>
        <p class='text-sm xl:text-base'>
            Si te interesa contactarnos, escríbenos a
            <a href='mailto:sudakassudadas@gmail.com' class='text-bold'>
                sudakassudadas@gmail.com</a
            >
        </p>

        <div id='rrss' class='flex items-center space-x-2 text-bold'>
            <a href='https://www.instagram.com/sudakassudadas'>
                <Icon name='instagram' class='w-6 h-6' />
            </a>

            <a
                href='https://open.spotify.com/show/0LiK4UQxhwI3s0c2FhNPjO?si=QBpDx9mGTA-luUkoOY3G5A'
                class='w-6 h-6'
            >
                <Spotify />
            </a>
        </div>
    </div>
</footer>
