---
import ShakaPlayer from './ShakaPlayer';

import poster from '../assets/poster.png';
const videoUri = 'https://sudakas.s3.sa-east-1.amazonaws.com/video/h264.mpd';
---

<div class='w-full relative'>
    <ShakaPlayer
        client:only='solid-js'
        class='w-full'
        uri={videoUri}
        poster={poster}
    />

    <div
        class='absolute z-10 inset-0 w-full h-full flex justify-center items-center'
    >
        <slot />
    </div>
</div>
